<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {{ page_title }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/p.css">
    {% if cookie %}
    <meta http-equiv="Set-Cookie" content="{{ cookie }}">
    {% endif %}
    <script src="js/p.js"></script>
    <script src="js/blazy.min.js"></script>
  </head>

  <body>

    <div id="header">
      <h1> <a href="index.cgi"> {{ page_title }} </a> </h1>
    </div>

    <div id="upload">
      <form id="upload-form" action="index.cgi"
	    method="POST" enctype="multipart/form-data">

	<div class="upload-form-component">
	  File select: (multiple) jpg/png
	  <input type="file" name="upload-file" accept="image/*" multiple>
	</div>

	<div class="upload-form-component">
	User:
	<input type="text" name="upload-user" class="uploaded-user"
	       {% if cookie_user %}
	       value="{{ cookie_user }}"
	       {% endif %}
	       >
	</div>

	<div class="upload-form-component">
	  Upload: <input name="submit" type="submit" value="UpLoad!">
	</div>

      </form>
      

      {% if message %}
      <p> {{ message }} </p>
      <a href="index.cgi"> click: [reload] !!</a>
      {% endif %}

    </div>

    <div id="filter">
      <form id="filter-form" action="index.cgi"
	    method="GET" enctype="multipart/form-data">
	filter: user <select name="filter-user">
	  <option value="_all_"> all </option>
	  {% for filter_user in filter_users %}
	  <option value="{{ filter_user }}"> {{ filter_user }} </option>
	  {% endfor %}
	</select>
	<input name="submit" type="submit" value="Filter!">
	{% if filter_user %}
	filtered by user {{ filter_user }}
	{% endif %}
      </form>
    </div>


    <div id="content" class="clearfix">

      {% for p in photos %}
      <div class="photo-frame">
	<div class="photo">
	  <a href="{{ p.image }}" target="_blank">
	    <!-- <img src="{{ p.thumbnail }}"/> -->
	    <img class="b-lazy" src="load.gif"
		 data-src="{{ p.thumbnail }}"
		 data-src-small="{{ p.thumbnail }}">
	  </a>
	</div>
	<div class="caption">
	  {% if p.date %}
	  {{ p.date }} <br/> {{ p.name }} by {{ p.user }}

	  {% if p.model  %} with {{ p.model }} {% endif %}
	  
	  {% elif p.error %}

	  {{ p.name }} by {{ p.user }} (Error: {{ p.error }})

	  {% elif p.uploaded %}

	  {{ p.uploaded }} (uploaded) <br/> {{ p.name }} by {{ p.user }}

	  {% else %}

	  {{ p.name }} by {{ p.user }} (no date info)

	  {% endif %}
	</div>
      </div>
      {% endfor %}

    </div>

    <div id="footer">
      {{ page_title }}
    </div>

    <script type="text/javascript">
      var bLazy = new Blazy({
      success: function(e){ setTimeout(function(){}, 200); }
      });
      setTimeout(function() { bLazy.revalidate(); }, 1000);

    </script>

  </body>
</html>
