<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {{ page_title }} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <style type="text/css">
      {% include "p.css" %}
    </style>

    <script type="text/javascript">
      function filter_user_dict() {
	  let d = {}
	  let checkboxes = document.getElementsByClassName("filter-checkbox");
	  for (let n = 0; n < checkboxes.length; n++) {
	      checkbox = checkboxes[n];
	      d[checkbox.name] = checkbox.checked;
	  }
	  return d;
      }

      function filter_display_refresh() {
	  let userdict = filter_user_dict();
	  let from = document.getElementById("filter-date-from").value.replaceAll("-", "/");
	  let to = document.getElementById("filter-date-to").value.replaceAll("-", "/");
	  if (to) {
	      to = to + " 23:59:59";
	  }

	  let photos = document.getElementsByClassName("photo-frame");
	  for (let n = 0; n < photos.length; n++) {
	      let obj = photos[n];
	      let new_display_value = "";

	      let username = obj.querySelectorAll(".username")[0].textContent.trim();
	      if (!userdict[username]) {
		  new_display_value = "none";
	      }

	      let date = obj.querySelectorAll('.date')[0].textContent.trim();
	      if ((from && date < from) || (to && to < date)) {
		  new_display_value = "none";
	      }

	      obj.style.display = new_display_value;
	  }
      }

      function filter_user_change_all(is_checked) {
	  let checkboxes = document.getElementsByClassName("filter-checkbox");
	  for (let n = 0; n < checkboxes.length; n++) {
	      checkboxes[n].checked = is_checked; 
	  }
	  filter_display_refresh();
      }

      function window_resized() {
	  const frame_width = 270;
	  const width = document.body.clientWidth - 20;

	  let comp = document.getElementById("container");
	  let new_width =  (Math.floor(width / frame_width) * frame_width) + "px";
	  if (width < 631) {
	      new_width = null;
	  }
	  if (comp.style.width != new_width) {
	      comp.style.width = new_width;
	  }
      }
    </script>

  </head>

  <body>

    <div id="container">
      <div id="header">
	<h1> <a href="index.cgi"> {{ page_title }} </a> </h1>
	<p> We have {{ num_photos }} pictures. </p>
      </div>

      <div id="upload">
	<form id="upload-form" action="index.cgi"
	      method="POST" enctype="multipart/form-data">

	  <div class="upload-form-component">
	    <label for="upload-file">Photos</label>
	    <input type="file" name="upload-file" accept="image/*,.HEIC"
		   id="upload-file" multiple>
	  </div>

	  <div class="upload-form-component">
	    <label for="upload-user">User</label>
	    <input type="text" name="upload-user" class="uploaded-user" id="upload-user"
		   list="user-candidates">
	    <datalist id="user-candidates">
	      {% for username in usernames %}
	      <option value="{{username}}">
		{% endfor %}
	    </datalist>
	  </div>

	  <div class="upload-form-component">
	    <label></label>
	    <input name="submit" type="submit" value="UpLoad!">
	  </div>
	</form>

	{% if message %}
	<p> {{ message }} </p>
	<a href="index.cgi"> click: [reload] !!</a>
	{% endif %}

      </div>
      
      <div id="filter">
	<div class="filter-component">
	  <input type="button" value="check all" onclick="filter_user_change_all(true)">
	  <input type="button" value="uncheck all" onclick="filter_user_change_all(false)">

	  {% for username in usernames %}
	  <label>
	    {{ username }}<input type="checkbox"
				 name="{{username}}"
				 onchange="filter_display_refresh()"
				 class="filter-checkbox"
				 checked>
	  </label>
	  {% endfor %}
	</div>

	<div class="filter-component">
	  From <input type="date" id="filter-date-from" onchange="filter_display_refresh()">
	  to <input type="date" id="filter-date-to" onchange="filter_display_refresh()">
	</div>

      </div>

      <div id="content">

	{% for p in photos %}
	<div class="photo-frame {{ p.userid }}">
	  <div class="photo">
	    <a href="{{ p.image_url_path }}" target="_blank">
	      <img loading="lazy" src="{{ p.thumb_url_path }}">
	    </a>
	  </div>
	  <div class="caption">
	    {% if p.exif.date %}
	    <span class="date"> {{ p.exif.date }}</span><br/>
	    {{ p.image_name }} by <span class="username">{{ p.username }}</span>
	    {% if p.exif.model  %}
	    with {{ p.exif.model }}
	    {% endif %}
	    {% else %}
	    <span class="date">{{ p.uploadedat }}</span> <br/>
	    {{ p.image_name }} by <span class="username">{{ p.username }}</span>
	    {% endif %}
	    {% if p.error %}
	    ({{ p.error }})
	    {% endif %}
	  </div>
	</div>
	{% endfor %}

      </div>

      <div id="footer">
	{{ page_title }}
      </div>

    </div>

    <script type="text/javascript">
      window_resized();
      window.addEventListener("resize", window_resized);
    </script>
  </body>
</html>
